<div class="panel-header panel-header-sm">
</div>

<div class="row">
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Gestion des hotels</h5>
        </div>
        <div class="card-body">
          <div class="search-div">
            
            <a style=" color: #27C46B;" title="Add" data-toggle="tooltip" (click)="openModal()"><i class="material-icons">&#xE03B;</i></a>

            <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
              <input matInput style="background: white;" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="mat-elevation-z8 container">
            <mat-table [dataSource]="listData"  matSort>
              <ng-container matColumnDef="nom">
                <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.titre}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Id</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <a  style="color: #FFC107;" title="Edit" data-toggle="tooltip"  (click)="openModifModal(row,$event)"><i class="material-icons">&#xE254;</i></a>
                            <a  title="Delete" style="color: #E34724;" data-toggle="tooltip" (click)="delete(row.id) "><i class="material-icons">&#xE872;</i></a>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  No data.
                </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <ngb-tabset  type="pills" style="margin: 2%;">
          <ngb-tab title="Accepter">
                <ng-template ngbTabContent>
                        
                  <div class="card-header">
                    <h5 class="title">Gestion des Reservations</h5>
                  </div>
                  <div class="card-body">
                    <div class="search-div">
                      
                      <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
                        <input matInput style="background: white;" [(ngModel)]="searchKey2" placeholder="Search" autocomplete="off" >
                        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey2"  (click)="onSearchClear2()">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="mat-elevation-z8 container">

                      <mat-table [dataSource]="listeReservationAccepter"  matSort>

                        <ng-container matColumnDef="Titre">
                          <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Titre</mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.Titre}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Email">
                          <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Email</mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.Email}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Prix">
                          <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Prix</mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.Prix}}</mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="actions">
                          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <a  style="color: #FFC107;" title="Edit" data-toggle="tooltip"  (click)="ReservationAccepter(row._id)"><i class="material-icons">done</i></a>
                            <a  title="Delete" style="color: #E34724;" data-toggle="tooltip" (click)="deleteReservationHotel(row.Titre) "><i class="material-icons">&#xE872;</i></a>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="loading">
                          <mat-footer-cell *matFooterCellDef colspan="6">
                            Loading data...
                          </mat-footer-cell>
                        </ng-container>

                        <ng-container matColumnDef="noData">
                          <mat-footer-cell *matFooterCellDef colspan="6">
                            No data.
                          </mat-footer-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="ReservationHotelColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: ReservationHotelColumns;"></mat-row>

                        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listeReservationAccepter!=null}"></mat-footer-row>

                        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listeReservationAccepter!=null && listeReservationAccepter.data.length==0)}"></mat-footer-row>

                      </mat-table>

                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                    </div>
                  
                  </div>
                            
                        
                </ng-template>
          </ngb-tab>

          <ngb-tab title="En Attente">
                <ng-template ngbTabContent>
                        
                              <div class="card-header">
                                <h5 class="title">Gestion des Reservations En attente</h5>
                              </div>
                              <div class="card-body">
                                <div class="search-div">
                                  
                                  <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
                                    <input matInput style="background: white;" [(ngModel)]="searchKey3" placeholder="Search" autocomplete="off" (keyup)="applyFilter3()">
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey3"  (click)="onSearchClear3()">
                                      <mat-icon>close</mat-icon>
                                    </button>
                                  </mat-form-field>
                                </div>
                                <div class="mat-elevation-z8 container">

                                  <mat-table [dataSource]="listeReservationEnAttente"  matSort>

                                    <ng-container matColumnDef="Titre">
                                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Titre</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.Titre}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Email">
                                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Email</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.Email}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Prix">
                                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Prix</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.Prix}}</mat-cell>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="actions">
                                      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                      <mat-cell *matCellDef="let row">
                                        <a  style="color: #FFC107;" title="Edit" data-toggle="tooltip"  (click)="ReservationAccepter(row._id)"><i class="material-icons">done</i></a>
                                        <a  title="Delete" style="color: #E34724;" data-toggle="tooltip" (click)="deleteReservationHotel(row.Titre) "><i class="material-icons">&#xE872;</i></a>
                                      </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="loading">
                                      <mat-footer-cell *matFooterCellDef colspan="6">
                                        Loading data...
                                      </mat-footer-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                      <mat-footer-cell *matFooterCellDef colspan="6">
                                        No data.
                                      </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="ReservationHotelColumns2"></mat-header-row>

                                    <mat-row *matRowDef="let row; columns: ReservationHotelColumns2;"></mat-row>

                                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listeReservationEnAttente!=null}"></mat-footer-row>

                                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listeReservationEnAttente!=null && listeReservationEnAttente.data.length==0)}"></mat-footer-row>

                                  </mat-table>

                                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                                </div>
                              
                              </div>
                            
                      
                                    
                </ng-template>
            </ngb-tab>
                            
                                                
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>

  
</div>
