titre:string;
image :string;
date:string;
venteadultesingle:number;
venteadultedble:number;
vente3rdad:number;
venteenfant2ad:number;
tarifbebe:number;
venteenfant1ad:number    
<!-- Default column sizing form -->
<section style="width: 100%;height: 100%;">
    <h1 style="text-align: center;background-color: blueviolet;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add hotel</h1>
  <form [formGroup]="form" >
      <!-- Grid row -->
      <div class="form-row m-2">
        <!-- Grid column -->
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control"  placeholder="id" formControlName="id" [(ngModel)]="data.comp.id" disabled="true">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="titre" formControlName="titre" [(ngModel)]="data.comp.titre">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="date" formControlName="date" [(ngModel)]="data.comp.date">
        </div>
        <!-- Grid column -->
      </div>
      <div class="form-row m-2">
          <!-- Grid column -->
          <div class="col-7">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="venteadultesingle" formControlName="venteadultesingle" [(ngModel)]="data.comp.venteadultesingle">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="venteadultedble" formControlName="venteadultedble" [(ngModel)]="data.comp.venteadultedble">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="vente3rdad" formControlName="vente3rdad" [(ngModel)]="data.comp.vente3rdad">
          </div>
          <!-- Grid column -->
        </div>
      <!-- Grid row -->
      <div class="form-row m-2">
          <!-- Grid column -->
          <div class="col-7">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="venteenfant2ad" formControlName="venteenfant2ad" [(ngModel)]="data.comp.venteenfant2ad">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="tarifbebe" formControlName="tarifbebe" [(ngModel)]="data.comp.tarifbebe">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="venteenfant1ad" formControlName="venteenfant1ad" [(ngModel)]="data.comp.venteenfant1ad">
          </div>
          <!-- Grid column -->
        </div>
       
        <div class="form-row m-2">
          <!-- Grid column -->
         
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
              <div>
                  <input type="file" name="image" (change)="selectImage($event)" accept="image/*" />
                </div>
                
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col" >
            <!-- Default input -->
            <div class="image-preview" *ngIf="imagePreview !== '' && form.get('image').valid && imageverif==true">
              <img [src]="imagePreview" alt="image">
            </div>
            <div class="image-preview" *ngIf="imagePreview === ''">
                <img src="assets/{{data.comp.image}}" alt="image" style="margin-top: 8px;width: 100%;">
              </div>
          </div>
          <!-- Grid column -->
        </div>
        <div style="text-align: center;" >
          <input mat-button mat-dialog-close  type="button" (click)="onSubmit(data.comp._id)" value="Upload" />
          <input  type="button" (click)="close()" value="close"/>
          
  
        </div>
       
  
    </form>
    <!-- Default column sizing form -->
  
  </section>