<!-- Footer -->
<footer  class="page-footer font-small cyan">

    <!-- Footer Links -->
    <div class="container">
  
      <!-- Grid row-->
      
  
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
          <h3 class="text-monospace text-uppercase font-weight-bold">FREEDOM TRAVEL</h3>
      </div>
      <div class="row text-center d-flex justify-content-center text-monospace text-uppercase font-weight-bold"><h5>Un monde sur mesure pour vous</h5></div>
      
      <div class="row text-center d-flex justify-content-center ">
        <p>Freedom Travel est un Opérateur de Voyage basé en Tunisie, géré par une équipe professionnelle et expérimentée,
         la manipulation à la fois entrantes et sortantes, Voyage d'affaires en provenance et à  tous les coins du monde</p>
      </div>
  
      <hr class="rgba-white-light" style="margin: 0 15%;">

      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  
      <!-- Grid row-->
      <div class="row pb-3">
  
        <!-- Grid column -->
        
      <!-- Grid row-->
  
    </div>
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <div class="col-md-12">
  
            <div class="mb- flex-center">
    
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
              </a>
              <!--Pinterest-->
              <a class="pin-ic">
                <i class="fab fa-pinterest fa-lg white-text"> </i>
              </a>
    
            </div>
    
          </div>
          <!-- Grid column -->
    
        
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->