.view {
    background: url("https://www.avenue14.net/wp-content/uploads/2019/10/tunisie.jpg")no-repeat center center;
    /*background: ("assets/navbar.jpg")no-repeat center center;*/
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
    .view{
        height: 100vh;
        width: 100vw;

    }
}
.txt {
    position: absolute;
    top:  30%;
    right: 20%;
    margin: auto;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
  }
