<header  class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <img class="logo navbar-brand" src="assets/logo.png"style="width:60px;height:60px;">
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link"routerLink="/home"
          >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"routerLink="/hotels"
      
          >Hotels</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"routerLink="/voyage"

          >Voyages</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/soiree" >Soirées
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/circuit">Circuits
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"  routerLink="/omra">Omra
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"routerLink="/contact">Contact
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
        <!--  <button type="button" class="btn btn-outline-warning btn-rounded waves-effect">Se Connecter</button>-->
        <button *ngIf="GetStatut()==='admin' || GetStatut()==='super admin' "  id="logout-button" class="btn btn-outline-warning btn-rounded waves-effect" size="lg" routerLink="/admin/dashboard">Dashboard</button>
        <button *ngIf="GetStatut()==='client'" id="logout-button" class="btn btn-outline-warning btn-rounded waves-effect" size="lg" routerLink="/admin/user-profile">Profil</button>
        
        <main id="logout-button-holder">
            <button *ngIf="!loggued() "  id="logout-button" class="btn btn-outline-warning btn-rounded waves-effect" size="lg" (click)="openModal()">Se Connecter</button>
            <button *ngIf="loggued()"   id="logout-button" class="btn btn-outline-warning btn-rounded waves-effect" size="lg" (click)="logOut()" >Deconnecter</button>

        </main>
        
        
    </links>
    
  </mdb-navbar>
  
  <!-- Main -->
  <div class="view intro-2" >
    <div class="full-bg-img">
        <div class="container text-center white-text wow fadeInUp">
        </div>
      
    </div>
  </div>
  <!-- /.Main -->

</header>

<!--Main Navigation-->

<!--Main Layout-->

<!--Main Layout-->