<table width = "100%" >
  <tr valign = "top">
      <td  width = "30%" >
          <div class="card ml-3 mt-5">
              <article class="card-group-item">
                  <header class="card-header cyan">
                      <h4 class="title font-weight-bold  white-text text-center">Filtre </h4>
                  </header>
                      
                  <div class="filter-content">
                      <div class="card-body">

                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label>Prix Minimal : {{min}}</label>
                                  <div class="slidecontainer">
                                      <input type="range" min="1" max="300" value="{{min}}" class="slider" id="myRange" [(ngModel)]= "min" (change)="testing4()">
                                  </div>
                              </div>

                              <div class="form-group col-md-6 text-left">
                                  <label>Prix Maximal : {{max}}</label>
                                  <div class="slidecontainer">
                                      <input type="range" min="1" max="300" value="{{max}}" class="slider" id="myRange" [(ngModel)]= "max" (change)="testing4()">
                                  </div>

                              </div>

                              <ejs-daterangepicker  [(ngModel)]= "d" (click)=" date()"  [min]='minDate' [max]='maxDate' style="width: 100%; margin-top: 5%;"></ejs-daterangepicker>`
                                  
                          </div>
                          
                      </div>
                  </div>
              </article>
          </div> <!-- card.// -->
      </td>
      
      <td width = "70%" height = "200">
          
           <div class="md-form"style="margin-left: 9%;margin-top:5%; margin-right: 40%;">
              <input mdbInput type="text" name="text" [(ngModel)]="text" id="form1" class="form-control"(click)="testing1()"  >
              <label for="form1" class="">Taper le nomde l'hotel</label>
          </div>
          <h3 class="md-5 mt-5 ml-5 orange-text font-weight-bold" style="margin-left: 5%;">L'hotel Rechercher est : {{text}}</h3>



             <div class="d-flex flex-wrap justify-content-center" >
                      <div class="card" style="width: 25%;margin:3%;"*ngFor="let item of ListeCircuits | rechercheFilterCircuit:text">
                        
                           <img style="height: 300px;" class="card-img-top" [src]="item.circuit.image" alt="Card image cap">
                          
                      
                           <div class="card-body d-flex flex-column">
                              <h5 class="card-title orange-text font-weight-bold">{{item.circuit.titre}}</h5>
                    
                              <div style=" margin-top: auto;">
                                      <button [routerLink]="['/ReservationCircuit', item.id]"  type="button" mdbBtn color="cyan" rounded="true" data-toggle="modal" data-target="#basicExample"(click)="frame.show()" mdbWavesEffect>Voir programme</button>
                              </div>
                      </div>
                      </div>
              </div>

      </td>
  </tr>
</table>
