
  .section1{
    background: url("http://www.wa11papers.com/assets/previews/nature-sea-landscape-ocean-sunset-sunrise-wallpaper-1082-preview-0e49f9f0.jpg") no-repeat center center !important;
    /*background: ("assets/navbar.jpg")no-repeat center center;*/
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh;
   }
 
 
 
 .vcontainer{
     margin: 2%;
 }
 
 
 
 
 .mydivouter{
   background: lightblue;
   align-items: center;
 }
 .mydivoverlap{
 position: relative;
 z-index: 1;
 }
 .mybuttonoverlap{
 position: absolute;
 z-index: 2;
 
 display: none;
 
 
 }
 .mydivouter:hover .mybuttonoverlap{ 
 display:block;
 background: transparent;
 }
 
 h1 {
     font-size: 2.5em;
  
     font-weight: bold;
 }
 h4{
   color: #81bde5;
   font-weight: bold;
 }
 i {
   border-radius: 50%;
   background: #81bde5;
   color: #fff;
   font-size: 34px;
   height: 80px;
   padding: 20px;
   width: 80px;
   position: relative;
 }
 .text-center {
   text-align: center;
 }
 
 .parallax {
   /* The image used */
   background: url("https://get.clt.re/wp-content/uploads/2014/12/Parallax-Background-Dark-07.jpg") ;
 
   /* Set a specific height */
   height: 80vh;
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 .parallax2 {
   /* The image used */
   background: url("https://i.pinimg.com/originals/90/f9/fc/90f9fcfa2154a8dfd49e0aa4e1db2244.jpg") ;
 
   /* Set a specific height */
   height: 70vh;
 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 .swiper-container {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
 }
 
 .swiper-slide {
   background-position: center;
   background-size: cover;
   width: 300px;
   height: 300px;
 
 }
 body {
   background: #fff;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
 }