

<br>
<div class="container">
    <div class="row">
<h2>Top Hotels</h2>

<div id="carouselExampleIndicators" class="carousel slide col-lg-12 col-md-12" data-ride="carousel" >
    
    <div class="carousel-inner" >
        <br>
      <div class="carousel-item " >
       
          <div class="col-lg-3 col-md-3" style="display:inline-block">
            
               
                <div class="card" style="width: 14;">
                    <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
           
                    <div class="card-body">
                      <h5 class="card-title">Nom hotel</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
          </div>
          <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
      
       
      </div>












      <div class="carousel-item " >
      
          <div class="col-lg-3 col-md-3" style="display:inline-block">
            
               
                <div class="card" style="width: 14;">
                    <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
           
                    <div class="card-body">
                      <h5 class="card-title">Nom hotel</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
          </div>
        
        <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
       
      </div>
      












      <div class="carousel-item active" >
      
          <div class="col-lg-3 col-md-3" style="display:inline-block">
            
               
                <div class="card" style="width: 14;">
                    <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
           
                    <div class="card-body">
                      <h5 class="card-title">Nom hotel</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
          </div>
        
        <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-3" style="display:inline-block">
            <div class="card" style="width: 14;">
                <img  class="card-img-top"src="https://thumbnails.trvl-media.com/yUBdlVaGdHvIF1v7bS7WubLVco0=/773x530/smart/filters:quality(60)/images.trvl-media.com/hotels/41000000/40220000/40214500/40214430/b3ff13e4_z.jpg" class="img-fluid" alt="Responsive image">
       
                <div class="card-body">
                  <h5 class="card-title">Nom hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
       
      </div>
    
  </div>


  
    </div>
    <br>

    </div>











    <div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">FREEDOM TRAVEL</h3>

			<div class="row">
				<div class="col-md-4 col-sm-4 highlight">
					<div class="h-caption text-center"><h4><i class="fa fa-cogs fa-5"></i></h4></div>
					<div class="h-body text-center">
						<p>Réservation des hotels et voyages en Tunisie et à  l'étranger.</p>
					</div>
				</div>
			
				<div class="col-md-4 col-sm-4 highlight">
					<div class="h-caption text-center"><h4><i class="fa fa-heart fa-5"></i></h4></div>
					<div class="h-body text-center">
						<p>Une variété de programmes et des voyages organisés et planifiées avec soin.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 highlight">
					<div class="h-caption text-center"><h4><i class="fa fa-smile-o fa-5"></i></h4></div>
					<div class="h-body text-center">
						<p>Des excursions innovantes, des expéditions d'aventure, safaris, croisiére... </p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
    </div>
    
    </div>




    








