.modal-lg {
    max-width: 80%;
}

:host ::ng-deep h2 {color: orangered; }


/* Dashed red border */
hr{
    border-top: 3px dashed blue;
    width: 30%;
  }
  .modal-dialog  {
    width:80%;
    max-height: 90%;

  }