<table width = "100%" >
    <tr valign = "top">
        <td  width = "20%" >
            <div class="card ml-3 mt-5">
                <article class="card-group-item">
                    <header class="card-header cyan">
                        <h4 class="title font-weight-bold  white-text text-center">Filtre </h4>
                    </header>
                        
                    <div class="filter-content">
                        <div class="card-body">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Prix Minimal : {{min}}</label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="3000" value="{{min}}" class="slider" id="myRange" [(ngModel)]= "min" (change)="testing4()">
                                    </div>
                                </div>

                                <div class="form-group col-md-6 text-left">
                                    <label>Prix Maximal : {{max}}</label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="3000" value="{{max}}" class="slider" id="myRange" [(ngModel)]= "max" (change)="testing4()">
                                    </div>

                                </div>

                                <ejs-datepicker  [(ngModel)]= "date"  (change)="testing4()" style="width: 100%; margin-top: 5%;"></ejs-datepicker>`
                                    
                            </div>
                            
                        </div>
                    </div>
                </article>
            </div> <!-- card.// -->
        </td>
        <td  style="width: 50%;">

            <div class="md-form"style="margin-left: 9%;margin-top:5%; margin-right: 40%;">
                <input mdbInput type="text" name="text" [(ngModel)]="text" id="form1" class="form-control" (click)="testing1()">
                <label for="form1" class="">Taper le nom de l'Omra</label>
            </div>
            <h3 class="md-5 mt-5 ml-5 orange-text font-weight-bold" style="margin-left: 5%;">L'Omra Rechercher est : {{text}}</h3>


            <div class="d-flex flex-wrap justify-content-center " *ngIf="test==='f'">
                <div>
                    <div class="card" style="width: 35%;margin:5%;" *ngFor="let item of  ListeOmra | dateFilterOmra:date | prixFilterOmra:min:max">
              
                        <img style="height: 200px;" class="card-img-top" src="http://freedomtravel.tn/assets/images/omra1.jpg" alt="Card image cap">
                
            
                        <div class="card-body d-flex flex-column">

                            <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
                            <h5 ><mdb-icon fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{item.date | date:'longDate'}}</h5>
                    
                            <div style=" margin-top: auto;">
                                <button type="button" mdbBtn color="cyan" rounded="true" data-toggle="modal" data-target="#basicExample"  (click)="DateTitre(item.titre,item.date,item.prix,item.programme)" (click)="frame.show()" mdbWavesEffect>Voir programme</button>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center " *ngIf="test===''" >
                <div>
                    <div class="card" style="width: 35%;margin:5%;" *ngFor="let item of  ListeOmra | rechercheFilterOmra:text">
              
                        <img style="height: 200px;" class="card-img-top" src="http://freedomtravel.tn/assets/images/omra1.jpg" alt="Card image cap">
                
            
                        <div class="card-body d-flex flex-column">

                            <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
                            <h5 ><mdb-icon fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{item.date | date:'longDate'}}</h5>
                    
                            <div style=" margin-top: auto;">
                                <button type="button" mdbBtn color="cyan" rounded="true" data-toggle="modal" data-target="#basicExample"  (click)="DateTitre(item.titre,item.date,item.prix,item.programme)" (click)="frame.show()" mdbWavesEffect>Voir programme</button>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        

        <td style="width: 25%;">
            <div class="card float-right" style="margin: 2%; " >
                <ngb-tabset style="margin: 2%;" type="pills" justify="end">
                    <ngb-tab title="الوثائق المطلوبة للتسجيل">
                        <ng-template ngbTabContent>
                            <h5 style="margin: 5%; text-align: right;">التأكّد من اختيار صنف السّكن حيث يكون نهائيّا و لا يمكن تغييره بعد التّسجيل</h5>
            
                            <h5 style="margin: 5%; text-align: right;">جواز سفر صلاحيته أكثر من ثمانية أشهر ابتداء من تاريخ السّفر</h5>
                    
                            <h5 style="margin: 5%; text-align: right;">3 صور شمسية خلفية بيضاء</h5>
                    
                            <h5 style="margin: 5%; text-align: right;">مرافقة بمحرم شرعي بالنسبة للسّيدات سنهن دون 45 سنة</h5>
                    
                            <h5 style="margin: 5%; text-align: right;">دفتر تلقيح ضد الحمى الشوكية معهد باستور لم يمض عليه 3 سنوات</h5>
                    
                            <h5 style="margin: 5%; text-align: right;">ترخيص الزوج معرف بإمضاء بالنّسبة للسّيدات المتزوجات المسافرات بمفردهن</h5>
                    
                            <h5 style="margin: 5%; text-align: right;">نسخة من بطاقة التعريف الوطنية</h5>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle> السعر يشمل</ng-template>
                            <ng-template ngbTabContent>
                                
                                <h5 style="margin: 5%; text-align: right;">الحصول على التأشيرة عن طريق الوكالة</h5>
                        
                                <h5 style="margin: 5%; text-align: right;">تذكرة الطائرة تونس جدة ، جدة تونس على متن الخطوط التونسية</h5>
                        
                                <h5 style="margin: 5%; text-align: right;">التنقل من المطار إلى النزل بالمدينة المنورة</h5>
                        
                                <h5 style="margin: 5%; text-align: right;">الإقامة 07 ليالي بالمدينة المنورة في نزل رويال المكارم 4* الّذي يقع في المنطقة المركزية على بعد 150 مترا</h5>
                        
                                <h5 style="margin: 5%; text-align: right;">التنقل من المدينة المنورة إلى مكة المكرمة على متن حافلات مكيفة و حديثة</h5>
                        
                                <h5 style="margin: 5%; text-align: right;">الإقامة 07 ليالي بمكة المكرمة في نزل دار الإيمان جراند 5* الّذي يقع في شارع ابراهيم الخليل على بعد 600 مترا من الحرم المكي</h5>
            
                                <h5 style="margin: 5%; text-align: right;">التنقل من مكة المكرمة إلى المطار</h5>
                                
                                <h5 style="margin: 5%; text-align: right;">التنقل من المدينة المنورة إلى مكة المكرمة على متن الحافلة</h5>
                                                
                            </ng-template>
                    </ngb-tab>
                                        
                </ngb-tabset>
                                                        
            </div>
        </td>

    </tr>
</table>


















<div mdbModal #frame2="mdbModal" class="modal fade center" id="frameModalTop2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" >
    <div class="modal-dialog  modal-dialog-scrollable modal-lg  " role="document">
        <div class="modal-content">
            <div  class="modal-body mx-3 ">
              <div  *ngFor="let item of TAdulte;let i =index" >
                <div class="md-form form-group col">
                  <input mdbInput type="text" class="form-control" id="Adulte{{i}}"  >
                  <label for="Adulte{{i}}">Adulte {{i+1}}</label>
                </div>
              </div>

              <div  *ngFor="let item2 of TEnfant;let i2 =index" >
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="Enfant{{i2}}" >
                  <label for="Enfant{{i2}}">Enfant {{i2+1}}</label>
                </div>
              </div>

              <div  *ngFor="let item3 of TBebe;let i3 =index" >
                <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="Bebe{{i3}}" >
                  <label for="Bebe{{i3}}">Bébé {{i3+1}}</label>
                </div>
              </div>
                
              <button   mdbBtn type="button"  rounded="true"  color="orange" outline="true" (click)="test()"    data-toggle="modal" data-target="#frameModalTop3" mdbWavesEffect   (click)="frame2.hide()"  (click)="frame3.show()" >Confirmer</button>


            </div>
        </div>
    </div>
</div>


<div mdbModal #frame="mdbModal" class="modal fade center" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog  modal-dialog-scrollable modal-lg  " role="document">
        <div class="modal-content">
            <div  class="modal-body mx-3 ">
                <div class=" cyan-text">
                  <div [formGroup]="reactiveform">
                    <div class="modal-header text-center" style="margin: 2%;">
                            <h4 class="modal-title w-100 orange-text font-weight-bold"> Informations de séjour </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                            <span aria-hidden="true">&times;</span>
                            </button>
                    </div>

                    <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
                        <input type="text" formControlName="Nom" id="Nom" class="form-control form-control-sm" mdbInput>
                        <mdb-error *ngIf="Nom.invalid && (Nom.dirty || Nom.touched)">Nom invalid</mdb-error>
                        <mdb-success *ngIf="Nom.valid && (Nom.dirty || Nom.touched)">Nom valid</mdb-success>
                        <label for="Nom">Your name</label>
                    </div>

                    <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
                        <input  type="email" formControlName="Email" id="Email" class="form-control form-control-sm" mdbInput >
                        <mdb-error *ngIf="Email.invalid && (Email.dirty || Email.touched)">Email invalid</mdb-error>
                        <mdb-success *ngIf="Email.valid && (Email.dirty || Email.touched)">Email valid</mdb-success>
                        <label for="Email">Your email</label>
                    </div>

                    <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix" ></i>
                        <input  type="text" formControlName="Tel" id="Tel" class="form-control form-control-sm" mdbInput >
                        <mdb-error *ngIf="Tel.invalid && (Tel.dirty || Tel.touched)">Tel invalid</mdb-error>
                        <mdb-success *ngIf="Tel.valid && (Tel.dirty || Tel.touched)">Tel valid</mdb-success>
                        <label for="Tel">Telephone</label>
                    </div>
                </div>

                    <div class="md-form form-sm"> <i class="far fa-calendar-alt prefix"></i>
                    <input value="{{e}}"  type="text" id="Date" name="date" disabled class="form-control form-control-sm disabled" mdbInput>
                    </div>

                    <div class="md-form form-sm"> 
                        <a style="color: orangered;"  (click)="chambre()" mdbWavesEffect >Ajouter  une champbre</a>
                    </div>

                    <div >
                        <label class=" mr-3"  >Adulte :</label>
                        <label  class=" mr-3">Enfant(s) :</label>
                        <label  class=" mr-3">Bébé(s) :</label>
                    </div>

                    <div  value="nb" class="ml-3 row" *ngFor="let n of nbChambre;let i = index" id="rowid{{i}}" hidden=true>
                        

                        <h3 class="d-flex  flex-column  mr-3" >

                            <select (click)="calculPrix()"  class="custom-select" id="homme{{i}}">
                                <option selected>0</option>
                                <option >1</option>
                                <option >2</option>
                                <option >3</option>
                                <option >4</option>
                                <option >5</option>
                                <option >6</option>
                            </select>
                        </h3>
                        <h3 class="d-flex flex-column mr-3" >
                            <select (click)="calculPrix()"   class="custom-select" id="enfant{{i}}">
                              <option selected>0</option>
                              <option >1</option>
                              <option >2</option>
                              <option >3</option>
                              <option >4</option>
                            </select></h3>
                            <h3 class="d-flex flex-column mr-3" >

                                <select (click)="calculPrix()"   class="custom-select" id="bebe{{i}}">
                                  <option selected>0</option>
                                  <option >1</option>
                                  <option >2</option>
                                </select>
                            </h3>
                            
                        <i style="color: orangered;" type="button" (click)="delchambre(i)"  (click)="calculPrix()"class="far  fa-trash-alt fa-2x"></i>
                            
                            
                    </div>

                    <div class="modal-footer row">
                        
                        <label class="col-2">Prix a payer : </label><input [(ngModel)] = "prix" mdbInput type="text" class="form-control col-2" >Dt
                            
                        <button  class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true"  mdbWavesEffect (click)="frame.hide()" [disabled]="!reactiveform.valid"  (click)="frame2.show()" (click)="affiche()" (click)="clear()" >Confirmer</button>
                    </div>
                  
            </div>
                    
        </div>      
    </div>
    </div>
</div>




<div mdbModal #frame3="mdbModal" class="modal fade center" id="frameModalTop3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true" >
  <div class="modal-dialog  modal-dialog-scrollable modal-lg  " role="document">
      <div class="modal-content">
          <div   class="modal-body mx-3 ">
            <div id="content" #content>
              <h2 style="text-align: center;">Freedom Travel</h2>
            <table mdbTable small="true">
              <thead>
                <tr>
                  <th> Informations sur le Client </th>
                </tr>
              </thead>
              <tbody>    
                <tr>
                  <td>Nom</td>
                  <td>{{reservation.Nom}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{reservation.Email}}</td>
                </tr>
                <tr>
                  <td>Téléphone</td>
                  <td>{{reservation.Tel}}</td>
                </tr>
              </tbody>
            </table>
            <table mdbTable small="true">
              <thead>
                <tr>
                  <th> Information sur la résérvation </th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol>
                  <td>Résérvation à </td>
                  <td>{{reservation.Titre}}</td>
                </tr>
                <tr>
                  <td>Prix</td>
                  <td>{{reservation.Prix}} Dt</td>
                </tr>
                <tr>
                  <td>Date de Départ</td>
                  <td>{{reservation.DateDepart}}</td>
                </tr>
                <tr>
                  <td>Date de Retour</td>
                  <td>{{reservation.DatRetour}}</td>
                </tr>
              </tbody>
            </table>
            <table mdbTable small="true">
              <thead>
                <tr>
                  <th> Informations sur les Chambres</th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let item of reservation.Chambre ;let i = index" >
                  <td>Chambre {{item.num}}</td>
                  <td *ngFor="let item2 of item.adulte">{{item2}}</td>
                  <td *ngFor="let item3 of item.enfant">{{item3}}</td>
                  <td *ngFor="let item4 of item.bb">{{item4}}</td>

                </tr>
              </tbody>
            </table>
            </div>
          
            
          </div>
          <div class="modal-footer row">
            <button  class=" col-2 " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect    (click)="frame3.hide()"  >Annuler</button>
            <button  class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect   (click)="frame3.hide()"  >Confirmer</button>
            <button  class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect   (click)="pdf()"  >Download PDF</button>
          </div>
      </div>
  </div>
</div>