
<!-- Default column sizing form -->
<section style="width: 100%;height: 100%;">
    <h1 style="text-align: center;background-color: blueviolet;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add hotel</h1>
  <form [formGroup]="form" >
      <!-- Grid row -->
      <div class="form-row m-2">
        <!-- Grid column -->
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="id" formControlName="id">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="nom" formControlName="nom">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="adultOnly" formControlName="adultOnly">
        </div>
        <!-- Grid column -->
      </div>
      <div class="form-row m-2">
          <!-- Grid column -->
          <div class="col-7">
            <!-- Default input -->
            <input mdbInput type="text" class="form-control" placeholder="ville" formControlName="ville">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="text" class="form-control" placeholder="categorie" formControlName="categorie">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="text" class="form-control" placeholder="type" formControlName="type">
          </div>
          <!-- Grid column -->
        </div>
      <!-- Grid row -->
      <div class="form-row m-2">
          <!-- Grid column -->
          <div class="col-7">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="lpdvente" formControlName="lpdvente">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="dpvente" formControlName="dpvente">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="pcvente" formControlName="pcvente">
          </div>
          <!-- Grid column -->
        </div>
        <div class="form-row m-2">
          <!-- Grid column -->
          <div class="col-7">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="allinsoftvente" formControlName="allinsoftvente">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="allinvente" formControlName="allinvente">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="ultraallinvente" formControlName="ultraallinvente">
          </div>
          <!-- Grid column -->
        </div>
        <div class="form-row m-2">
          <!-- Grid column -->
          <div class="col-7">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control" placeholder="age_enf_gratuit" formControlName="age_enf_gratuit">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
              <div>
                  <input type="file" name="image" (change)="selectImage($event)" accept="image/*" />
                </div>
                
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col" >
            <!-- Default input -->
            <div class="image-preview" *ngIf="imagePreview !== '' && form.get('image').valid && imageverif==true">
              <img [src]="imagePreview" alt="image">
            </div>
  
          </div>
          <!-- Grid column -->
        </div>
        <div style="text-align: center;" >
          <button mat-button mat-dialog-close  type="button" (click)="onSubmit()" >Upload</button>
          <input  type="button" (click)="close()" value="close"/>
  
        </div>
       
  
    </form>
    <!-- Default column sizing form -->
  
  </section>