<app-navbar  *ngIf=" 
                    router.url != '/admin' &&
                    router.url != '/admin/dashboard' &&
                    router.url != '/admin/user-profile'  &&
                    router.url != '/admin/voyage' &&
                    router.url != '/admin/circuit'&&
                    router.url != '/admin/home' &&
                    router.url != '/admin/hotel' &&
                    router.url != '/admin/user' &&
                    router.url != '/admin/client' &&
                    router.url != '/admin/Historique' &&
                    router.url != '/admin/ReservationEnCour' &&
                    router.url != '/admin/ReservationAccepter' &&
                    router.url != '/admin/soiree' &&
                    router.url != '/admin/Publiciter'
                    
                    
                    
                    " ></app-navbar>
    <router-outlet ></router-outlet>
<app-footer *ngIf=" 
                    router.url != '/admin' &&
                    router.url != '/admin/dashboard' &&
                    router.url != '/admin/user-profile'  &&
                    router.url != '/admin/voyage' &&
                    router.url != '/admin/circuit'&&
                    router.url != '/admin/home' &&
                    router.url != '/admin/hotel' &&
                    router.url != '/admin/user' &&
                    router.url != '/admin/client' &&
                    router.url != '/admin/Historique' &&
                    router.url != '/admin/ReservationEnCour' &&
                    router.url != '/admin/ReservationAccepter' &&
                    router.url != '/admin/soiree' &&
                    router.url != '/admin/Publiciter'
                    
                    " ></app-footer>
