<div class="panel-header panel-header-sm">
</div>
<div *ngIf ="loading === true"  class="mt-7 d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf ="loading === false">
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Edit Profile</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>ID User</label>
                    <input type="text" class="form-control" disabled="" placeholder="Id de l'utilisateur" name="id"  value="{{user._id}}">
                  </div>
                </div>
              
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="user.nom" name="nom" value="{{user.nom}}">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Email Adress</label>
                    <input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" value="{{user.email}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>CIN</label>
                    <input type="text" class="form-control" placeholder="CIN" [(ngModel)]="user.cin" name="cin" value="{{user.cin}}">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>telephone</label>
                    <input type="text" class="form-control" placeholder="telephone" [(ngModel)]="user.tel" name="tel" value="{{user.tel}}">
                  </div>
                </div>
                <button  class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect (click)="ModifierUser(user._id)">Modifier</button>
  
              </div>
           
              
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="../assets/img/bg5.jpg" alt="...">
          </div>
          <div class="card-body">
            <div class="author">
              <a href="#">
                <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
                <h5 class="title">{{user.nom}}</h5>
              </a>
              <p class="description">
                {{user.type}}
              </p>
            </div>
            <p class="description text-center">
              {{user.email}}
              <br> {{user.tel}}
              <br> {{user.cin}}
            </p>
          </div>
          <hr>
          
        </div>
      </div>
    </div>
    
  </div>
  
</div>