<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngFor="let item of ListeHotels "> 
  <div  *ngIf="item.id === id" class="divContainer">
   
<div class="col-xs-12">
    <div style="width: 100%;text-align: center;background-color: transparent;margin-left: 2%;margin-top: 2%;height: 100%;" >
      <h2 >{{item.nom}} <div *ngIf="item.categorie==='1'">
        <span [fa fa-star checked]="item.categorie==='1'"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
    </div>
    <div *ngIf="item.categorie==='2'">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
    </div>
    <div *ngIf="item.categorie==='3'">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star"></span>
    </div>
    <div *ngIf="item.categorie==='4'" >
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    </div>
    <div *ngIf="item.categorie==='5'">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div></h2>
    <ngb-carousel #ngcarousel>
      <div *ngFor="let item2 of Listimg "> 
        <ng-template ngbSlide >
          <div class="picsum-img-wrapper">
            <img src="https://www.freedomtravel.tn/{{item2.href}}" alt="Slide 1">
          </div>
        </ng-template>
      </div>
    </ngb-carousel>
    <div class=" mt-5 mb-5 detail">
      {{item.type}}

    </div>
</div>  
    
  
  <div class="formReservation">
    <div [formGroup]="reactiveform">
      <div class="modal-header text-center" style="margin: 2%;">
              <h4 class="modal-title w-100 orange-text font-weight-bold"> Informations de séjour </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
              <span aria-hidden="true">&times;</span>
              </button>
      </div>

      <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
          <input type="text" formControlName="Nom" id="Nom" class="form-control form-control-sm" mdbInput>
          <mdb-error *ngIf="Nom.invalid && (Nom.dirty || Nom.touched)">Nom invalid</mdb-error>
          <mdb-success *ngIf="Nom.valid && (Nom.dirty || Nom.touched)">Nom valid</mdb-success>
          <label for="Nom">Your name</label>
      </div>

      <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
          <input type="email" formControlName="Email" id="Email" class="form-control form-control-sm" mdbInput >
          <mdb-error *ngIf="Email.invalid && (Email.dirty || Email.touched)">Email invalid</mdb-error>
          <mdb-success *ngIf="Email.valid && (Email.dirty || Email.touched)">Email valid</mdb-success>
          <label for="Email">Your email</label>
      </div>

      <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix" ></i>
          <input type="number" formControlName="Tel" id="Tel" class="form-control form-control-sm" mdbInput >
          <mdb-error *ngIf="Tel.invalid && (Tel.dirty || Tel.touched)">Tel invalid</mdb-error>
          <mdb-success *ngIf="Tel.valid && (Tel.dirty || Tel.touched)">Tel valid</mdb-success>
          <label for="Tel">Telephone</label>
      </div>
  </div>

      <div  class="md-form form-sm row"> <i class="far fa-calendar-alt prefix"></i>
        <ejs-daterangepicker class="col" id="d" [(ngModel)]="d " ></ejs-daterangepicker>

        <select id="prix"  class="browser-default custom-select col">
          <option  selected>Choisir type de resevation</option>
          <option  [hidden]="item.allinsoftvente === 0" >allinsoftvente </option>
          <option  [hidden]="item.allinvente === 0" > allinvente</option>
          <option [hidden]="item.dpvente === 0"  >dpvente </option>
          <option [hidden]="item.lpdvente === 0"  >lpdvente </option>
          <option [hidden]="item.pcvente === 0"  >pcvente </option>
          <option [hidden]="item.ultraallinvente === 0"  > ultraallinvente</option>
          
        </select>
      </div>
      <div class="md-form form-sm"> 
          <a style="color: orangered;"  (click)="chambre()" mdbWavesEffect >Ajouter  une champbre</a>
      </div>

      <div >
          <label class=" mr-3"  >Adulte :</label>
          <label  class=" mr-3">Enfant(s) :</label>
          <label  class=" mr-3">Bébé(s) :</label>
      </div>

      <div  value="nb" class="ml-3 row" *ngFor="let n of nbChambre;let i = index" id="rowid{{i}}" hidden="true">
          

          <h3 class="d-flex  flex-column  mr-3" >

              <select  (click)="calculPrix()"  class="custom-select" id="homme{{i}}">
                  <option selected>0</option>
                  <option >1</option>
                  <option >2</option>
                  <option >3</option>
                  <option >4</option>
                  <option >5</option>
                  <option >6</option>
              </select>
          </h3>
          <h3 class="d-flex flex-column mr-3" >
              <select   (click)="calculPrix()" class="custom-select" id="enfant{{i}}">
                <option selected>0</option>
                <option >1</option>
                <option >2</option>
                <option >3</option>
                <option >4</option>
              </select></h3>
              <h3 class="d-flex flex-column mr-3" >

                  <select   (click)="calculPrix()" class="custom-select" id="bebe{{i}}">
                    <option selected>0</option>
                    <option >1</option>
                    <option >2</option>
                  </select>
              </h3>
              
          <i style="color: orangered;" type="button"  (click)="calculPrix()" (click)="delchambre(i)" class="far  fa-trash-alt fa-2x"></i>
              
              
      </div>

      <div class="modal-footer row">
          
        <label class="col-2">Prix a payer : </label><input [(ngModel)] = "prix" mdbInput type="number" class="form-control col-2" >Dt
              
        <button  class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect [disabled]="!reactiveform.valid"  (click)="frame2.show()" (click)="affiche()" (click)="clear()" >Confirmer</button>
      </div>

  </div>
</div>


<div mdbModal #frame3="mdbModal" class="modal fade center" id="frameModalTop3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true" >
<div class="modal-dialog  modal-dialog-scrollable modal-lg  " role="document">
    <div class="modal-content">
        <div   class="modal-body mx-3 ">
          <div id="content" #content>
            <h2 style="text-align: center;">Freedom Travel</h2>
          <table mdbTable small="true">
            <thead>
              <tr>
                <th> Informations sur le Client </th>
              </tr>
            </thead>
            <tbody>    
              <tr>
                <td>Nom</td>
                <td>{{reservation.Nom}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{reservation.Email}}</td>
              </tr>
              <tr>
                <td>Téléphone</td>
                <td>{{reservation.Tel}}</td>
              </tr>
            </tbody>
          </table>
          <table mdbTable small="true">
            <thead>
              <tr>
                <th> Information sur la résérvation </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol>
                <td>Résérvation à </td>
                <td>{{reservation.Titre}}</td>
              </tr>
              <tr>
                <td>Prix</td>
                <td>{{reservation.Prix}} Dt</td>
              </tr>
              <tr>
                <td>Date de Départ</td>
                <td>{{reservation.DateDepart}}</td>
              </tr>
              <tr>
                <td>Date de Retour</td>
                <td>{{reservation.DatRetour}}</td>
              </tr>
            </tbody>
          </table>
          <table mdbTable small="true">
            <thead>
              <tr>
                <th> Informations sur les Chambres</th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let item of reservation.Chambre ;let i = index" >
                <td>Chambre {{item.num}}</td>
                <td *ngFor="let item2 of item.adulte">{{item2}}</td>
                <td *ngFor="let item3 of item.enfant">{{item3}}</td>
                <td *ngFor="let item4 of item.bb">{{item4}}</td>

              </tr>
            </tbody>
          </table>
          </div>
        
          
        </div>
        <div class="modal-footer row">
          <button  class=" col-2 " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect    (click)="frame3.hide()"  >Annuler</button>
          <button  class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect   (click)="AjoutCambre()"  (click)="frame2.hide()"  (click)="frame3.hide()"  >Confirmer</button>
          <button  class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect   (click)="pdf()"  >Download PDF</button>
        </div>
    </div>
</div>
</div>

<div mdbModal #frame2="mdbModal" class="modal fade center" id="frameModalTop2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" >
  <div class="modal-dialog  modal-dialog-scrollable modal-lg  " role="document">
      <div class="modal-content">
          <div  class="modal-body mx-3 ">
            <div  *ngFor="let item of TAdulte;let i =index" >
              <div class="md-form form-group col">
                <input mdbInput type="text" class="form-control" id="Adulte{{i}}"  >
                <label for="Adulte{{i}}">Adulte {{i+1}}</label>
              </div>
            </div>

            <div  *ngFor="let item2 of TEnfant;let i2 =index" >
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="Enfant{{i2}}" >
                <label for="Enfant{{i2}}">Enfant {{i2+1}}</label>
              </div>
            </div>

            <div  *ngFor="let item3 of TBebe;let i3 =index" >
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="Bebe{{i3}}" >
                <label for="Bebe{{i3}}">Bébé {{i3+1}}</label>
              </div>
            </div>
              
            <button   mdbBtn type="button"  rounded="true"  color="orange" outline="true" (click)="test()" mdbWavesEffect   (click)="frame2.hide()"  (click)="frame3.show()" >Confirmer</button>


          </div>
      </div>
  </div>
</div>