<h4 style="text-align: center; margin-top: 5%;margin-bottom: 5%; font-weight: bold;;">Sign in</h4>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Sign In">
            <mat-card-content>
              <form action="" >
                <mat-form-field>
                  <input [(ngModel)]="log.email" matInput placeholder="Email" required name="email" ngModel #email="ngModel">
                  <mat-error *ngIf="email.invalid">Email is required</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input [(ngModel)]="log.password" matInput placeholder="Password" type="password"  required minlength="6" name="password" ngModel #password="ngModel">
                  <mat-error *ngIf="password.errors && password.errors.required"> Password is required </mat-error>
                  <mat-error *ngIf="password.errors && password.errors.minlength"> Password must be of length 6 </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-checkbox>Remember Me!</mat-checkbox>
                <button style="margin-top: 10%;" mat-raised-button color="primary" class="login-button" [disabled]="password.errors || email.invalid "   (click)="login()"> Se connecter</button>
              </form>
            </mat-card-content>
        </mat-tab>
        
        <mat-tab label="Sign Up">
          <mat-card-content>
            <form [formGroup]="reactiveform" action="">

              <mat-form-field>
                <input [(ngModel)]="user.nom" matInput placeholder="User Name"  formControlName="username" >
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="reactiveform.get('username').errors?.required  ">Username is required</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input [(ngModel)]="user.email" type="email" matInput placeholder="Email"  formControlName="email" >
                <mat-error *ngIf="reactiveform.get('email').errors?.required">Email is required</mat-error>y
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input [(ngModel)]="user.password" matInput placeholder="Password" type="password"  formControlName="password" >
                <mat-error *ngIf="reactiveform.get('password').errors?.required"> Password is required</mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input validateEqualTo matInput placeholder="Password" type="password"  formControlName="repassword" >
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-error class="ml-5 " style="margin-top: -12px;" *ngIf="reactiveform.errors?.mismatch && (reactiveform.controls['repassword'].dirty || reactiveform.controls['repassword'].touched)"> Re-Enter Password is required </mat-error>


              
              <mat-form-field>
                <input [(ngModel)]="user.cin" matInput placeholder="CIN"  formControlName="cin">
                <mat-error *ngIf="reactiveform.get('cin').errors?.required">cin is required</mat-error>
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input [(ngModel)]="user.tel" matInput placeholder="Tel"   formControlName="tel" >
                <mat-error *ngIf="reactiveform.get('tel').errors?.required">tel is required</mat-error>
                <mat-icon matSuffix>phone </mat-icon>
              </mat-form-field>



              <button mat-raised-button color="primary" class="login-button"  [disabled]="!reactiveform.valid" (click)="inscription()"> Sign Up </button>

            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
  