
<!-- Default column sizing form -->
<section style="width: 100%;height: 100%;">
    <h1 style="text-align: center;background-color: blueviolet;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add hotel</h1>
  <form [formGroup]="form" >
      <!-- Grid row -->
      <div class="form-row m-2">
        <!-- Grid column -->
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control"  placeholder="id" formControlName="id" [(ngModel)]="data.comp.id" disabled="true">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="nom" formControlName="nom" [(ngModel)]="data.comp.nom">
        </div>
       
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="description" formControlName="description" [(ngModel)]="data.comp.description">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="libelle" formControlName="libelle" [(ngModel)]="data.comp.libelle">
        </div>
       
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="programme" formControlName="programme" [(ngModel)]="data.comp.programme">
        </div>
        <div class="col-7">
          <label for="start">Start date:</label>
          <input type="date" id="start" name="trip-start"  min="2018-01-01" max="2018-12-31"  formControlName="datedepart" [(ngModel)]="data.comp.datedepart">
        </div>

        <div class="col">
          <label for="start">Start date:</label>
          <input type="date" id="start" name="trip-start"  min="2018-01-01" max="2018-12-31" formControlName="dateretour" [(ngModel)]="data.comp.dateretour">
        </div>

        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="venteadultesingle" formControlName="venteadultesingle" [(ngModel)]="data.comp.venteadultesingle">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="venteadultedble" formControlName="venteadultedble" [(ngModel)]="data.comp.venteadultedble">
        </div>
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="vente3rdad" formControlName="vente3rdad" [(ngModel)]="data.comp.vente3rdad">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="venteenfant2ad" formControlName="venteenfant2ad" [(ngModel)]="data.comp.venteenfant2ad">
        </div>
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="tarifbebe" formControlName="tarifbebe" [(ngModel)]="data.comp.tarifbebe">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="venteenfant1ad" formControlName="venteenfant1ad" [(ngModel)]="data.comp.venteenfant1ad">
        </div>

      </div>
      
      <!-- Grid row -->
      
        
        <div class="form-row m-2">
          <!-- Grid column -->
          
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
              <div>
                  <input type="file" name="image" (change)="selectImage($event)" accept="image/*" />
                </div>
                
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col" >
            <!-- Default input -->
            <div class="image-preview" *ngIf="imagePreview !== '' && form.get('image').valid && imageverif==true">
              <img [src]="imagePreview" alt="image">
            </div>
            <div class="image-preview" *ngIf="imagePreview === ''">
                <img src="assets/{{data.comp.image}}" alt="image" style="margin-top: 8px;width: 100%;">
              </div>
          </div>
          <!-- Grid column -->
        </div>
        <div style="text-align: center;" >
          <input mat-button mat-dialog-close  type="button" (click)="onSubmit(data.comp._id)" value="Upload" />
          <input  type="button" (click)="close()" value="close"/>
          
  
        </div>
       
  
    </form>
    <!-- Default column sizing form -->
  
  </section>