<div class="wrapper">
    <div class="sidebar" data-color="red">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-navbar-admin></app-navbar-admin>
        <router-outlet></router-outlet>
        <app-footer-admin></app-footer-admin>
    </div>
</div>
