
<!-- Default column sizing form -->
<section style="width: 100%;height: 100%;">
    <h1 style="text-align: center;background-color: blueviolet;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add hotel</h1>
  <form [formGroup]="form" >
      <!-- Grid row -->
      <div class="form-row m-2">
        <!-- Grid column -->
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="id" formControlName="id">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="nom" formControlName="nom">
        </div>
       
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="description" formControlName="description">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="libelle" formControlName="libelle">
        </div>
       
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="programme" formControlName="programme">
        </div>
        <div class="col-7">
          <label for="start">Start date:</label>
          <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"  formControlName="datedepart">
        </div>

        <div class="col">
          <label for="start">Start date:</label>
          <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" formControlName="dateretour">
        </div>

        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="venteadultesingle" formControlName="venteadultesingle">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="venteadultedble" formControlName="venteadultedble">
        </div>
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="vente3rdad" formControlName="vente3rdad">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="venteenfant2ad" formControlName="venteenfant2ad">
        </div>
        <div class="col-7">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="tarifbebe" formControlName="tarifbebe">
        </div>
        <div class="col">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="venteenfant1ad" formControlName="venteenfant1ad">
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        
        <!-- Grid column -->
      </div>
     
      <!-- Grid row -->
      <div class="form-row m-2">
          
          <div class="col">
              <div>
                  <input type="file" name="image" (change)="selectImage($event)" accept="image/*" />
                </div>
                
          </div>
         
          <div class="col" >
            <!-- Default input -->
            <div class="image-preview" *ngIf="imagePreview !== '' && form.get('image').valid && imageverif==true">
              <img [src]="imagePreview" alt="image">
            </div>
  
          </div>
          <!-- Grid column -->
        </div>
        <div style="text-align: center;" >
          <button mat-button mat-dialog-close  type="button" (click)="onSubmit()" >Upload</button>
          <input  type="button" (click)="close()" value="close"/>
  
        </div>
       
  
    </form>
    <!-- Default column sizing form -->
  
  </section>